<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32101">
        <setting id="use_custom_api" type="bool" label="32203" default="false" />
        <setting id="APIKey" type="text" label="32201" default="" />
        <setting id="TMDBApiKey" type="text" label="32202" default="" />
    </category>

    <category label="32102">
        <setting id="custom_language" type="enum" label="32204" values="Auto (Theo Kodi)|Tiếng Việt (VI)|Tiếng Anh (EN)|Tiếng Pháp (FR)|Tiếng Đức (DE)|Tiếng Nhật (JA)|Tiếng Hàn (KO)|Tiếng Trung (ZH)" default="0" />
    </category>
    
    <category label="32103">
        <setting id="remove_html" type="bool" label="32205" default="false" />
        <setting id="remove_hi" type="bool" label="32206" default="false" />
    </category>
</settings>